.all  div {
	height: 300px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 80px;
}

.sachin, .dhoni, .virat, .raina, img{
	height: 100%;
	object-fit: cover;
	width: 100%;
	margin-bottom: 10px;
}
